*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color:#48D1CC;
}

.page{
    max-width: 1400px;
    margin: 50px auto;
    background: white;
    border-radius: 8px;

}

.head{
    background-color: #00a6c7;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.lico_ing{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.title{
    text-align: center;
    margin-bottom: 20px;

}

.tabs-wrap{
    margin: 0 auto 20px;

}
.menu{
    display: flex;
    gap: 25px;      
    margin-right: auto;   
}

.tabs{
    display: flex;
    margin: 0 auto 20px;
    padding: 6px;
}

.tab{
    flex: 1;
    border: none;
    padding: 12px 8px;
    font-weight: 600;

}

.block{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    align-items: start;
}


.card{
    padding: 20px;
    border-radius: 8px;
    min-height: 120px;
    border: 1px solid #e6ecec;
}

.big_avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 15px;
    object-fit: cover;
}


.perv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.perv input{
    padding: 10px;
    border: 1px solid #dadddd;
    border-radius: 6px;
}

.btn{
    padding: 10px;
    background: #7a8a97;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
